@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.Mui-error:first-letter {
  text-transform: uppercase;
}
